@import url("https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap");
/*styles*/
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px 15px;
}
.logo img {
  padding-bottom: 2px;
}
.logo {
  font-family: "Jersey 25 Charted";
  font-size: 30px;
}
.frase {
  padding-left: 20px;
  padding-top: 15px;
}
.menu {
  padding-left: 45%;
}
a:hover {
  color: #77777c;
}
.indice,
.menu-link {
  color: #a3a4a8;
  text-decoration: none;
}
footer {
  background-color: #c7c8cc;
  padding: 100px;
  color: #363434;
}
.frete {
  color: #5ab2ff;
}
